APP_ENV=development

POSTGRES_DB=ai_golf_caddie
POSTGRES_USER=golf_user
POSTGRES_PASSWORD=change_me

DATABASE_URL=postgresql://golf_user:change_me@db:5432/ai_golf_caddie

OPENAI_API_KEY=


VITE_MAPBOX_ACCESS_TOKEN=